@media screen and (max-width:1080px){
    main{
        .biode{
            h3{
                font-size: 18px;
            }
        }
        .nos-container{
            .carousel-fade{
                .carousel-inner{
                    div{
                        img{
                            width: 300px;
                            height: 300px;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width:900px){
    main{
        .biode{
            h3{
                font-size: 15px;
            }
        }
        .contacto-container{
            grid-template-columns: 1fr;
            grid-template-rows: 50%;
            .formulario{
                grid-column: span 1;
                grid-row: span 1;
            }
            .texto{
                grid-column: span 1;
                grid-row: span 1;
                p{
                    font-size: 17px;
                }
            }
            .mapa{
                grid-column: span 1;
                grid-row: span 1;
                iframe{
                    width: 425px;
                    height: 325px;
                }
            }
        }
        .exp-2{
            h2{
                font-size: 55px;
            }
        }
    }
}

@media screen and (max-width:850px){
    main{
        .para{
            div{
                p{
                    padding: 10px;
                }
            }
        }
        .nos-container{
            .parrafo{
                font-size: 18px;
            }
        }
        .contacto-container{
            .texto{
                p{
                    font-size: 15px;
                }
            }
            .mapa{
                iframe{
                    width: 350px;
                    height: 330px;
                }
            }
        }
    }
}

@media screen and (max-width:800px){
    main{
        .biode{
            h3{
                display: none;
            }
        }
        .exp{
            h2{
                font-size: 50px;
            }
        }
    }
}

@media screen and (max-width:700px){
    main{
        .biode{
            height: 100px;
            width: 100%;
            border-bottom:  3px solid rgb(41, 23, 143);
            background-image: none;
            h2{
                font-size: 45px;
            }
        }
        .para{
            div{
                h2{
                    font-size: 22px;
                }
                h3{
                    font-size: 20px;
                }
                p{
                    text-align: justify;
                    font-size: 18px;
                }
            }
        }
        .historia{
            height: 100px;
            width: 100%;
            h2{
                font-size: 45px;
            }
        }
        .exp{
            height: 100px;
            width: 100%;
            h2{
                font-size: 38px;
            }
        }
        .videos{
            .exp-1{
                height: 560px;
                width: 550px;
                iframe{
                    width: 430px; 
                    height: 265px;
                }
                div{
                    h3{
                        font-size: 22px;
                    }
                    p{
                        font-size: 17px;
                    }
                }
            }
            .exp-2{
                p{
                    font-size: 17px;
                }
            }
        }
        .nosotros{
            height: 100px;
            width: 100%;
            h2{
                font-size: 45px;
            }
        }
        .contact-us{
            height: 100px;
            width: 100%;
            h2{
                font-size: 45px;
            }
        }
    }
    footer{
        .derechos{
            h4{
                font-size: 20px;
            }
        }
    }
}

@media screen and (max-width:650px){
    main{
        .historia-container{
            .historia-2{
                h2{
                    font-size: 22px;
                }
                p{
                    font-size: 18px;
                    margin: 15px;
                }
            }
        }
        .para{
            img{
                height: 550px;
                width: 350px;
            }
        }
        .contacto-container{
            .formulario{
                height: 95%;
            }
        }
    }
}

@media screen and (max-width:585px){
    main{
        .fixed{
            display: none
        }
        .contacto-container{
            .mapa{
                iframe{
                    height: 280px;
                    width: 280px;
                }
            }
        }
    }
    footer{
        flex-direction: column;
    }
}

@media screen and (max-width:550px){
    main{
        .para{
            img{
                height: 650px;
                width: 450px;
            }
        }
        .videos{
            .exp-1{
                height: 510px;
                width: 500px;
                iframe{
                    width: 390px; 
                    height: 200px
                }
                div{
                    h3{
                        font-size: 19px;
                    }
                    p{
                        font-size: 15px;
                    }
                }
            }
            .exp-2{
                p{
                    font-size: 15px;
                }
            }
        }
        .nos-container{
            .carousel-fade{
                .carousel-inner{
                    div{
                        img{
                            width: 280px; 
                            height: 280px;
                        }
                    }
                }
            }
        }
        .contacto-container{
            .formulario{
                height: 100%;
            }
            .texto{
                p{
                    font-size: 15px;
                }
            }
            .mapa{
                iframe{
                    width: 250px;
                    height: 250px;
                }
                p{
                font-size: 15px;
                }
            }
        }
    } 
}

@media screen and (max-width:500px){
    main{
        .para{
            img{
                height: 480px;
                width: 280px;
            }
        }
        .historia-container{
            .historia{
                margin: 20px;
                h2{
                    font-size: 20px;
                }
                p{
                    font-size: 17px;
                }
            }
        }
        .exp{
            h2{
                font-size: 32px;
            }
        }
        .videos{
            .exp-1{
                height: 470px;
                width: 450px;
                iframe{
                    width: 350px; 
                    height: 220px
                }
            }
        }
    }
    footer{
        height: 110px;
        .derechos{
            h4{
                padding-left: 50px;
            }
        }
        .redes{
            padding-right: 50px;
            padding-bottom: 20px;
        }
    }
}

@media screen and (max-width:450px){
    main{
        .videos{
            .exp-1{
                height: 520px;
                width: 400px;
                iframe{
                    width: 300px;
                    height: 220px;
                }
            }
        }
        .nos-container{
            .parrafo{
                p{
                    font-size: 17px;
                }
            }
            .carousel-fade{
                .carousel-inner{
                    div{
                        img{
                            width: 230px;
                            height: 230px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:400px){
    main{
        .notas{
            .notas-container{
                .notas-flex{
                    img{
                        height: 150px;
                        width: 200px;
                    }
                    p{
                        font-size: 20px;
                    }
                }
            }
        }
        .historia-container{
            .historia-2{
                margin: 25px;
                h2{
                    font-size: 17px;
                }
                p{
                    font-size: 14px;
                }
            }
        }
        .exp{
            h2{
                font-size: 32px;
            }
        }
        .videos{
            .exp-1{
                height: 540px;
                width: 300px;
                iframe{
                    width: 90%; 
                    height: 100px;
                }
            }
        }
        .nos-container{
            .parrafo{
                p{
                    font-size: 15px;
                }
            }
        }   
    }
    footer{
        .derechos{
            h4{
                font-size: 18px;
            }
        }
    }
}




